<header>
  <button class="logo">ClubHouse</button>
  <nav class="navbar">
    <button><a href="/">Posts</a></button>
    <% if (user) { %>
    <button><a href="/dashboard">Dashboard</a></button>
    <button><a href="/logout">Logout</a></button>
    <% } else { %>
    <button><a href="/login">Login</a></button>
    <button>Register</button>
    <% } %>
  </nav>
</header>
