<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main class="mainAdmin">
      <div class="containerMainAdmin">
        <h1>Admin Pass</h1>
        <form class="adminForm" method="post" action="/admin">
          <input
            type="text"
            name="adminPass"
            id="adminPass"
            placeholder="Hint: I'll be back."
            required
          />
          <button type="submit">Activate</button>
        </form>
        <% if (typeof error !== "undefined") {%>
        <ul>
          <li>Wrong pass</li>
        </ul>
        <%}%>
      </div>
    </main>
  </body>
</html>
