<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main class="mainMembership">
      <div class="containerMain">
        <h1>Activate Membership</h1>
        <form class="membershipForm" action="/membership">
          <input type="text" placeholder="Hint: hasta la vista" required />
          <button type="submit">Activate</button>
        </form>
      </div>
    </main>
  </body>
</html>
