body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*a {
  color: #00b7ff;
}*/

header {
  display: flex;
  padding: 20px;
  background-color: rgb(103, 103, 255);
  box-shadow: 0px 0px 9px black;
  align-items: center;
}
.logo {
  margin-right: auto;
  font-weight: 900;
  font-size: 1.5rem;
}
header button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  color: white;
}
header a {
  color: white;
}
.navbar button {
  font-weight: 700;
  font-size: 1rem;
}

a {
  text-decoration: none;
  /*color: white;*/
}

.mainCreateForm,
.mainHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36rem;
  gap: 15px;
}

.post,
.postDashboard {
  border: 1px solid rgb(196, 196, 196);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.emptyPostDashboard {
  margin-top: -18px;
}

@media screen and (max-width: 630px) {
  .posts {
    width: 100%;
  }
  .post {
    width: 90%;
  }
  .postDashboard {
    width: 100%;
  }
}

/*@media screen and (max-width: 390px) {
  .post {
    width: 90%;
  }
}*/

.postInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.postInfo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.postInfo h2 {
  margin-top: 0px;
  margin-bottom: -10px;
  font-size: 1rem;
}
.postInfo p {
  font-size: 0.7rem;
  font-style: italic;
  color: rgb(103, 103, 255);
}
.username_date {
  margin-top: 10px;
}

.postText {
  padding-left: 10px;
  padding-right: 10px;
}
.postText h2 {
  margin-top: 0px;
  margin-bottom: -10px;
}
.adminBtn {
  display: flex;
  justify-content: end;
}
.adminBtn button {
  border-radius: 5px;

  border: none;
  cursor: pointer;
  background-color: rgb(255, 199, 199);
  margin-right: 5px;
}
.adminBtn a {
  display: flex;
}
.adminBtn img {
  width: 20px;
  object-fit: cover;
  border: none;
}

.postText p {
}

.formDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26rem;
  gap: 15px;
}
.loginForm,
.registerForm,
.createPostForm {
  background-color: rgb(243, 243, 243);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
@media screen and (max-width: 630px) {
  .formDiv {
    width: 100%;
  }
  .loginForm,
  .registerForm,
  .createPostForm {
    width: 80%;
  }
}

/*.loginForm*/
form img {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

/*.loginForm*/
label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}
/*.loginForm*/
input {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgb(180, 180, 180);
  padding: 7px;
  font-size: 1rem;
}

.identifierPart,
.passwordPart {
  display: flex;
  align-items: center;
  gap: 11px;
}
.identifierInput,
.passwordInput,
.titlePart,
.postPart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#post {
  resize: none;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgb(180, 180, 180);
  padding: 7px;
  font-size: 1rem;
  height: 9rem;
}

button[type="submit"] {
  color: white;
  background-color: rgb(103, 103, 255);
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: -10px;
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 25px;
  align-self: center;
}

.mainDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerMain {
  width: 75%;
}

.mainMembership,
.mainAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerMainMembership,
.containerMainAdmin {
  width: 75%;
}

.membershipStatus {
  font-size: 1rem;
}
.welcome {
  margin-bottom: -5px;
  font-size: 1.2rem;
}
.active {
  color: green;
}
.inactive {
  color: red;
}

.buttonsDashboard {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}
.buttonsDashboard button {
  border: none;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(103, 103, 255);
  border-radius: 5px;
}
.buttonsDashboard .adminButton {
  border: none;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(0, 150, 10);
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
.buttonsDashboard button:hover {
  opacity: 90%;
}
.buttonsDashboard a {
  color: white;
  font-weight: 600;
}

.userPosts {
  margin-top: 50px;
}
.userPosts > h2 {
  margin-bottom: 0px;
}

.dahsboardPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.namesPart {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 510px) {
  .namesPart {
    flex-direction: column;
  }
  .passwordPartRegister {
    flex-direction: column;
  }
}
.passwordPartRegister {
  display: flex;

  gap: 10px;
}
.passwordInputRegister,
.confirmPasswordInputRegister,
.usernameInput,
.emailInput,
.first_nameInput,
.last_nameInput {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.membershipForm > input,
.adminForm > input {
  display: block;
}
